/* Контроль над светом и электричеством */

.lamp-control{
  position: absolute;
  width: 60px;
  height: 60px;
  top:0px;
  left: 48%;
/*background-color: red;*/
}

.socket-control{
  position: absolute;
  width: 60px;
  height: 60px;
  top: 29%;
  left: 30%;
/*background-color: red;*/
}

.energy-control{
  position: absolute;
  width: 60px;
  height: 60px;
  top: 1%;
  left: 43%;
/*background-color: red;*/

}

/* Сигнализация */

.signal-cop{
  position: absolute;
  width: 60px;
  height: 60px;
  top: 72%;
  left: 59%;
/*background-color: red;*/
}

.red-lamp{
  position: absolute;
  width: 60px;
  height: 60px;
  top: 55%;
  left: 65%;
/*background-color: red;*/
}

.thif{
  position: absolute;
  width: 60px;
  height: 60px;
  top: 26%;
  left: 65%;
/*background-color: red;*/

}
.window-break{
  position: absolute;
  width: 60px;
  height: 60px;
  top: 4%;
  left: 59%;
/*background-color: red;*/
}

/* Wi-fi */

.phone{
  position: absolute;
  width: 60px;
  height: 60px;
  top: 5%;
  left: 34%;
/*background-color: red;*/
}

/* Климат */

.termometr{
  position: absolute;
  width: 60px;
  height: 60px;
  top: 59%;
  left: 30%;
/*background-color: red;*/
}

/* Видеонаблюдение */

.camera{
  position: absolute;
  width: 60px;
  height: 60px;
  top: 72%;
  left: 42%;
/*background-color: red;*/
}

/* Замки */

.door{
  position: absolute;
  width: 60px;
  height: 60px;
  top: 72%;
  left:51%;
/*background-color: red;*/
}

/* Адаптивность для смартфонов*/
@media(max-width: 390px) {
  .lamp-control{
  left: 48%;
  height: 40px;
  width: 40px;
/*  background-color: blue;*/
  }
  .socket-control{
    left: 8%;
    top:27%;
    height: 40px;
    width: 40px;
  /*  background-color: blue;*/
  }
  .energy-control{
    left: 33%;
    height: 40px;
    width: 40px;
  /*  background-color: blue;*/
  }
  /* Сигнализация */

  .signal-cop{
    height: 40px;
    width: 40px;
    top: 66%;
    left: 70%;
  /*  background-color: blue;*/
  }

  .red-lamp{
    height: 40px;
    width: 40px;
    top: 50%;
    left: 82%;
  /*  background-color: blue;*/
  }

  .thif{
    height: 40px;
    width: 40px;
    top: 24%;
    left: 81%;
  /*  background-color: blue;*/

  }
  .window-break{
    height: 40px;
    width: 40px;
    top: 5%;
    left: 70%;
  /*  background-color: blue;*/
  }

  /* Wi-fi */

  .phone{
    height: 40px;
    width: 40px;
    top: 5%;
    left: 16%;
  /*  background-color: blue;*/
  }

  /* Климат */

  .termometr{
    height: 40px;
    width: 40px;
    top: 55%;
    left: 8%;
  /*  background-color: blue;*/
  }

  /* Видеонаблюдение */

  .camera{
    height: 40px;
    width: 40px;
    top: 66%;
    left: 34%;
  /*  background-color: blue;*/
  }

  /* Замки */

  .door{
    height: 40px;
    width: 40px;
    top: 66%;
    left: 52%;
  /*  background-color: blue;*/
  }

}
/* background-color: rgb(255, 0, 0); */