/* Main */

.image {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.home-img {
  margin-bottom: 50px;
}

@media(max-width:391px){
  .image{
    width: 100%;
    padding-top: 30px;
  }
  .home-img {
    width: inherit;
  }

}

/* Преимущества */

.fichers {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 30px;
  margin-top: -40px;
}

.fichers_item{
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.fichers_icone{
  display: flex;
}

.home-fichers_img {
  display: block;
  height: 70px;
  margin-bottom: 20px;
}

.fichers_text {
  width: 250px;
  font-style: italic;
  padding-top: 25px;
  margin-left: 20px;
}
.ficher_name{
  margin-left: 10px;
}
@media(max-width: 390px){
  .fichers{
    flex-direction: column;
  }
  .home-fichers_img {
    margin-bottom: 5px;
  }
}

